main {
  background: var(--background-color);
  min-height: 100%;
  padding-bottom: var(--spacing-xxl);
}

h1 {
  text-align: center;
  font-size: var(--font-huge);
  margin: var(--spacing-xl) 0 var(--spacing-md) 0;
}

.error {
  color: var(--error-color);
  text-align: center;
  margin-top: var(--spacing-xl);
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing-lg);
  padding: var(--spacing-xl);
}
